<html>
<head>
	<link rel="stylesheet" href="<% request.uri_base %>/css/char.sheet.css" />
	<script type="text/javascript" src="<% request.uri_base %>/javascripts/char.sheet.js"></script>
</head>
<body onload="setup();">
	<div>
		<div class="leftColumn">
			<label class="displayLabel">Character</label> <span class=""><% c.Character %>&nbsp;</span>
		</div>
		<div class="rightColumn">
			<label class="displayLabel">Notes</label><span><% c.Notes %>&nbsp;</span>
		</div>
		<hr style="clear:both;"/>
		<div class="leftColumn">
			<div class="section">Personal Data</div>
			<ol class="twoColumn">
				<li><label class="displayLabel">Name/Primary Alias</label>	<span class="displayData"><% c.Alias %> </span></li>
				<li><label class="displayLabel">Metatype</label>			<span class="displayData"><% c.Metatype %> </span>
					<label class="displayLabel">Ethnicity</label>			<span class="displayData"><% c.Ethnicity %></span></li>
				<li><label class="displayLabel">Age</label>					<span class="displayData"><% c.Age %></span>
					<label class="displayLabel">Sex</label>					<span class="displayData"><% c.Sex %></span>
					<label class="displayLabel">Height</label>				<span class="displayData"><% c.Height %></span>
					<label class="displayLabel">Weight</label>				<span class="displayData"><% c.Weight %></span></li>
				<li><label class="displayLabel">Street Cred</label>			<span class="displayData"><% c.StreetCred %></span>
					<label class="displayLabel">Notoriety</label>			<span class="displayData"><% c.Notoriety %></span>
					<label class="displayLabel">Public Awareness</label>	<span class="displayData"><% c.PublicAwareness %></span></li>
				<li><label class="displayLabel">Karma</label>				<span class="displayData"><% c.Karma %></span>
					<label class="displayLabel">Total Karma</label>			<span class="displayData"><% c.TotalKarma %></span>
					<label class="displayLabel">Misc</label>				<span class="displayData"><% c.Misc %></span></li>

			</ol>
			<div class="section">Attributes</div>
			<div class="twoColumn">
				<table style="width:100%;">
				  <tr>
				  	<td><label class="displayLabel">Body</label></td>
				  	<td><span class="displayData"><% c.BaseStats.Body %> (<span class="dice"><% c.Body %></span>)</span></td>
				  	<td><label class="displayLabel">Essence</label></td>
				  	<td><span class="displayData dice"><% c.Essence %></span></td>
				  </tr>
				  <tr>
				  	<td><label class="displayLabel">Agility</label></td>
				  	<td><span class="displayData"><% c.BaseStats.Agility %> (<span class="dice"><% c.Agility %></span>)</span></td>
				  	<td><label class="displayLabel">Magic/Resonance</label></td>
				  	<td><span class="displayData dice"><% c.MagicResonance %></span></td>
				  </tr>
				  <tr>
				  	<td><label class="displayLabel">Reaction</label></td>
				  	<td><span class="displayData"><% c.BaseStats.Reaction %> (<span class="dice"><% c.Reaction %></span>)</span></td>
				  	<td><label class="displayLabel">Initiative</label></td>
				  	<td><span class="displayData"><% c.Initiative %></span>
						<input size="3" name="init" style="float: right;"></td>
				  </tr>
				  <tr>
				  	<td><label class="displayLabel">Strength</label></td>
				  	<td><span class="displayData"><% c.BaseStats.Strength %> (<span class="dice"><% c.Strength %></span>)</span></td>
				  	<td><label class="displayLabel">Matrix Initiative</label></td>
				  	<td><span class="displayData dice"><% c.MatrixInitiative %></span>
						<input size="3" name="init" style="float: right;"></td>
				  </tr>
				  <tr>
				  	<td><label class="displayLabel">Willpower</label></td>
				  	<td><span class="displayData"><% c.BaseStats.Willpower %> (<span class="dice"><% c.Willpower %></span>)</span></td>
				  	<td><label class="displayLabel">Astral Initiative</label></td>
				  	<td><span class="displayData"><% c.AstralInitiative %></span>
						<input size="3" name="init" style="float: right;"></td>
				  </tr>
				  <tr>
				  	<td><label class="displayLabel">Logic</label></td>
				  	<td><span class="displayData"><% c.BaseStats.Logic %> (<span class="dice"><% c.Logic %></span>)</span></td>
				  	<td><label class="displayLabel">Composure</label></td>
				  	<td><span class="displayData dice"><% c.Willpower + c.Charisma %></span></td>
				  </tr>
				  <tr>
				  	<td><label class="displayLabel">Intuition</label></td>
				  	<td><span class="displayData"><% c.BaseStats.Intuition %> (<span class="dice"><% c.Intuition %></span>)</span></td>
				  	<td><label class="displayLabel">Judge Intentions</label></td>
				  	<td><span class="displayData dice"><% c.Intuition + c.Charisma %></span></td>
				  </tr>
				  <tr>
				  	<td><label class="displayLabel">Charisma</label></td>
				  	<td><span class="displayData"><% c.BaseStats.Charisma %> (<span class="dice"><% c.Charisma %></span>)</span></td>
				  	<td><label class="displayLabel">Memory</label></td>
				  	<td><span class="displayData dice"><% c.Logic + c.Willpower %></span></td>
				  </tr>
				  <tr>
				  	<td><label class="displayLabel">Edge</label></td>
				  	<td><span class="displayData" onclick="addDice(<% c.Edge %>);"><% c.Edge %></span></td>
				  	<td><label class="displayLabel">Lift/Carry</label></td>
				  	<td><span class="displayData"><% c.Strength * 15 %> kg / <% c.Strength * 10 %> kg 
							(<span class="dice"><% c.Body + c.Strength %></span>)</span></td>
				  </tr>
				  <tr>
				  	<td><label class="displayLabel">Edge Points</label></td>
				  	<td><span class="displayData"><% c.EdgePoints %></span></td>
				  	<td><label class="displayLabel">Movement</label></td>
				  	<td><span class="displayData"><% c.Agility * 2 %> / <% c.Agility * 4 %> / 
							<% IF c.Metatype == "Troll" or c.Metatype == "Dwarf" %>+1<% ELSE %>+2<% END %>m 
							(<span class="dice"><% c.Body + c.get_skill("Running") %></span>)</span></td>
				  </tr>
				  <tr>
				  	<td colspan="4">
						<label class="displayLabel">Physical Limit</label> <span class="displayData"><% c.PhysicalLimit %></span>
						<label class="displayLabel">Mental Limit</label> <span class="displayData"><% c.MentalLimit %></span>
						<label class="displayLabel">Social Limit</label> <span class="displayData"><% c.SocialLimit %></span>
				  	</td>
				  </tr>
				</table>
			</div>
			<div class="section">Skills</div>
			<div class="twoColumn">
				<table>
					<tr>
						<th>Name</th>
						<th>Rating</th>
						<th>Specialization</th>
						<th>Type</th>
						<th>&nbsp;</th>
					</tr>
					<% FOREACH s in c.Char_Skills %>
					 <tr>
					 	<td><% IF s.Skill.Type == "Language" or s.Skill.Type == "Knowledge" %><% s.Notes %>
							<% ELSE %><% s.Skill.Name %><% END %></td>
					 	<%- stat = s.Skill.Stat -%>
					 	<td><% IF s.Rating %><% s.Rating %> <% ELSIF s.Skill.Type == "Language" %>N<% ELSE %>N/A<% END %>
							<% IF stat and s.Rating %>(<span class="dice"><% s.Rating + c.$stat %></span>)<% END %></td>
					 	<td><span onclick="addDice(2);"><% s.Specialization %></span></td>
					 	<td><% s.Skill.Type %></td>
					 	<td><img src="<% request.uri_base %>/images/emblem-notice.png" title="<% s.Skill.Description %>" /></td>
					 </tr>
					 <% IF s.Skill.Type == "Group" %>
					  <% FOREACH ss in s.Skill.Group_Skills %>
					   <tr>
					   	<td>&nbsp;&nbsp;<% ss.Name %></td>
					   	<%- stat = ss.Stat -%>
					   	<td>&nbsp;&nbsp;<% s.Rating %> <% IF stat %>(<span class="dice"><% s.Rating + c.$stat %></span>)<% END %></td>
					   	<td>&nbsp;</td>
					   	<td>&nbsp;&nbsp;<% ss.Type %></td>
					   	<td>&nbsp;&nbsp;<img src="<% request.uri_base %>/images/emblem-notice.png" title="<% ss.Description %>" /></td>
					   </tr>
					  <% END %>
					 <% END %>
					<% END %>
				</table>
			</div>
			<div class="section">IDs / Lifestyles / Currency</div>
			<ol class="twoColumn">
				<li><label class="displayLabel">Primary Lifestyle</label>	<span class="displayData"><% c.LifeStyle %></span></li>
				<li><label class="displayLabel">Nuyen</label>				<span class="displayData"><% c.Nuyen %></span>
					<label class="displayLabel">Licenses</label>			<span class="displayData"> </span></li>
				<li><label class="displayLabel">Fake IDs / Related Lifestyles / Funds / Licenses</label>
					<br/>...</li>
			</ol>
			
			<div class="section">Gear</div>
			<div class="twoColumn">
				<table style="width:100%;">
				  <tr>
					  <th>On</th>
					  <th>Name</th>
					  <th>Rating</th>
					  <th>Count</th>
					  <th>&nbsp;</th>
				  </tr>
				  <% FOREACH g in c.Gear %>
					<tr>
					  <td><input type="checkbox" <% IF g.Active %>checked<% END %> /></td>
					  <td><% g.Name %></td>
					  <td><% g.Rating %></td>
					  <td><% g.Count %></td>
					  <td><img src="<% request.uri_base %>/images/emblem-notice.png" title="<% g.Desc %>"></td>
					</tr>
				  <% END %>
				</table>
			</div>
		</div>
		<div class="rightColumn">
			<div class="section">Core Combat Info</div>
			<ol class="twoColumn">
				<li><label class="displayLabel">Primary Armor</label>			<span class="displayData">...</span>
					<label class="displayLabel">Rating</label>					<span class="displayData">...</span></li>
				<li><label class="displayLabel">Primary Ranged Weapon</label>	<span class="displayData">...</span></li>
				<li><label class="displayLabel">Dam</label>						<span class="displayData">...</span>
					<label class="displayLabel">Acc</label>						<span class="displayData">...</span>
					<label class="displayLabel">AP</label>						<span class="displayData">...</span>
					<label class="displayLabel">Mode</label>					<span class="displayData">...</span>
					<label class="displayLabel">RC</label>						<span class="displayData">...</span>
					<label class="displayLabel">Ammo</label>					<span class="displayData">...</span></li>
				<li><label class="displayLabel">Primary Melee Weapn</label>		<span class="displayData">...</span></li>
				<li><label class="displayLabel">Reach</label>					<span class="displayData">...</span>
					<label class="displayLabel">Dam</label>						<span class="displayData">...</span>
					<label class="displayLabel">Acc</label>						<span class="displayData">...</span>
					<label class="displayLabel">AP</label>						<span class="displayData">...</span></li>
			</ol>
			<div class="section">Condition Monitor</div>
			<div class="twoColumn">
				<input type="hidden" id="physicalDmg" value="0">
				<input type="hidden" id="physicalBoxes" value="<% c.PhysicalTrack %>">
				<table class="leftColumn track" id="physical">
					<tr><th colspan="3">Physical Damage Track</th></tr>
					<tr><td class="pBox">&nbsp;</td><td class="pBox">&nbsp;</td><td class="pBox">&nbsp;</td><td onclick="addDice(-1);">-1</td></tr>
					<tr><td class="pBox">&nbsp;</td><td class="pBox">&nbsp;</td><td class="pBox">&nbsp;</td><td onclick="addDice(-2);">-2</td></tr>
					<tr><td class="pBox">&nbsp;</td><td class="pBox">&nbsp;</td><td class="pBox">&nbsp;</td><td onclick="addDice(-3);">-3</td></tr>
					<tr><td class="pBox">&nbsp;</td><td class="pBox">&nbsp;</td><td class="pBox">&nbsp;</td><td onclick="addDice(-4);">-4</td></tr>
					<tr><td class="pBox">&nbsp;</td><td class="pBox">&nbsp;</td><td class="pBox">&nbsp;</td><td onclick="addDice(-5);">-5</td></tr>
					<tr><td class="pBox">&nbsp;</td><td class="pBox">&nbsp;</td><td class="pBox">&nbsp;</td><td onclick="addDice(-6);">-6</td></tr>
				</table>
				
				<input type="hidden" id="stunDmg" value="0">
				<input type="hidden" id="stunBoxes" value="<% c.StunTrack %>">
				<table class="rightColumn track" id="stun">
					<tr><th colspan="3">Stun Damage Track</th></tr>
					<tr><td class="sBox">&nbsp;</td><td class="sBox">&nbsp;</td><td class="sBox">&nbsp;</td><td onclick="addDice(-1);">-1</td></tr>
					<tr><td class="sBox">&nbsp;</td><td class="sBox">&nbsp;</td><td class="sBox">&nbsp;</td><td onclick="addDice(-2);">-2</td></tr>
					<tr><td class="sBox">&nbsp;</td><td class="sBox">&nbsp;</td><td class="sBox">&nbsp;</td><td onclick="addDice(-3);">-3</td></tr>
					<tr><td class="sBox">&nbsp;</td><td class="sBox">&nbsp;</td><td class="sBox">&nbsp;</td><td onclick="addDice(-4);">-4</td></tr>
				</table>
				<div class="rightColumn"><br/>Overflow <input size="3" id="overflow" value="0">/<% c.Body %></div>
				<div style="clear:both;">&nbsp;</div>
			</div>
			<div class="section">Qualities</div>
			<div class="twoColumn">
				<table>
					<tr>
						<th>Name</th>
						<th>Notes</th>
						<th>Karma cost</th>
						<th>&nbsp;</th>
					</tr>
					<% FOREACH q in c.Char_Qualities %>
					 <tr>
					 	<td><% q.Quality.Name %></td>
						<td><% q.Details %></td>
						<td><% IF q.Quality.Type == "Negative" %>-<% END %><% q.Karma %></td>
						<td><img src="<% request.uri_base %>/images/emblem-notice.png" title="<% q.Quality.Description %>"></td>
					 </tr>
					<% END %>
				</table>
			</div>
			<div class="section">Contacts</div>
			<div class="twoColumn">
				<table>
					<tr>
						<th>Name</th>
						<th>Loyalty</th>
						<th>Connection</th>
						<th>Favor</th>
						<th>&nbsp;</th>
					</tr>
					<% FOREACH c in c.Contacts %>
					  <tr>
					  	<td><% c.Name %></td>
						<td><% c.Loyalty %></td>
						<td><% c.Connection %></td>
						<td><% c.Favor %></td>
						<td><img src="<% request.uri_base %>/images/emblem-notice.png" title="<% c.Misc %> "></td>
					  </tr>
					<% END %>
				</table>
			</div>
		</div>
	</div>
	<div style="clear:both; height:85px;">&nbsp;</div>
	<div id="diceBox">
		<span id="dice_img" style="display:none;">
			<img src="<% request.uri_base %>/images/1.png" value="1" class="failure glitch">
			<img src="<% request.uri_base %>/images/2.png" value="2" class="failure">
			<img src="<% request.uri_base %>/images/3.png" value="3" class="failure">
			<img src="<% request.uri_base %>/images/4.png" value="4" class="failure">
			<img src="<% request.uri_base %>/images/5.png" value="5" class="success">
			<img src="<% request.uri_base %>/images/6.png" value="6" class="success explode">
		</span>
		<div>
			<input id="dice" size=4>
			<input type="button" value="Roll" onclick="roll();">
			<input type="button" value="Reroll" onclick="reroll();">
		</div>
		<span id="results">&nbsp;</span>
	</div>
</body>
</html>