.leftColumn {
	float: left;
	width: 48%;
}

.rightColumn {
	float: right;
	width: 48%;
}

ol.twoColumn li {
	border-bottom: 1px solid #C7C7C7;
	list-style: none;
	padding: 1px 2px;
}

.twoColumn {
	border-top: 1px solid #5C0B0D;
	border-right: 1px solid #5C0B0D;
	border-left: 1px solid #5C0B0D;
	margin-bottom: 10px;
	clear: both;
	padding: 1px 20px 1px 20px;
	
}

.rightColumn .twoColumn {
	border-top-right-radius: 10px;
}

.leftColumn .twoColumn {
	border-top-left-radius: 10px;
}

.section {
	background: #5C0B0D;
	font-weight: bold;
	color: #f7f7f7;
	padding: 1px 2px 1px 2px;
}

div.rightColumn .section {
	float: left;
}

div.leftColumn .section {
	float: right;
}

.displayData {
/*	float: left;*/
}

.displayLabel {
	color: #595959;
	font-size: 10px;
	margin-left: 2px;
}

.half {
	width: 48%;
}

td {
	border-bottom: 1px solid #C7C7C7;
} /* FIXME needs to be more specific */

.track td {
	border-border: medium none #000;
}

.dice {
	color: #5C0B0D;
	cursor: pointer;
}

#diceBox {
/*	clear: both; */
	position:fixed !important;
	min-height: 85px;
	width: 100%;
	left: 0;
	bottom:0; 
	background: #ddd;
}

.pBox {
	background: #eee;
	height: 32px;
	width: 32px;
	text-align: center;
	cursor: pointer;
}

.sBox {
	background: #eee;
	height: 32px;
	width: 32px;
	text-align: center;
	cursor: pointer;
}

.pFilled {
	background: #F00;
}

.sFilled {
	background: #FF0;
}

.unused {
	background: #000;
}