<html>
<head>
	<link rel="stylesheet" href="/css/stuff.css" />
</head>
<body>
	<div>
		<div class="leftColumn">
			<label>Character</label><span class=""><% name %></span>
		</div>
		<div class="rightColumn">
			<label>Notes</label><span><% notes %></span>
		</div>
		<div class="leftColumn">
			<div class="section">Personal Data</div>
			<ol class="twoColumn">
				<li><label class="displayLabel">Name/Primary Alias</label>	<span class="displayData"><% name %> </span></li>
				<li><label class="displayLabel">Metatype</label>			<span class="displayData"><% meta %> </span>
					<label class="displayLabel">Ethnicicy</label>			<span class="displayData"><% fnord %></span></li>
				<li><label class="displayLabel">Age</label>					<span class="displayData"><% fnord %></span>
					<label class="displayLabel">Sex</label>					<span class="displayData"><% fnord %></span>
					<label class="displayLabel">Height</label>				<span class="displayData"><% fnord %></span>
					<label class="displayLabel">Weight</label>				<span class="displayData"><% fnord %></span></li>
				<li><label class="displayLabel">Street Cred</label>			<span class="displayData"><% fnord %></span>
					<label class="displayLabel">Notoriety</label>			<span class="displayData"><% fnord %></span>
					<label class="displayLabel">Public Awareness</label>	<span class="displayData"><% fnord %></span></li>
				<li><label class="displayLabel">Karma</label>				<span class="displayData"><% fnord %></span>
					<label class="displayLabel">Total Karma</label>			<span class="displayData"><% fnord %></span>
					<label class="displayLabel">Misc</label>				<span class="displayData"><% fnord %></span></li>

			</ol>
		</div>
		<div class="rightColumn">
			<div class="section">Core Combat Info</div>
			<ol class="twoColumn">
				<li><label class="displayLabel">Primary Armor</label>			<span class="displayData">...</span>
					<label class="displayLabel">Rating</label>					<span class="displayData">...</span></li>
				<li><label class="displayLabel">Primary Ranged Weapon</label>	<span class="displayData">...</span></li>
				<li><label class="displayLabel">Dam</label>						<span class="displayData">...</span>
					<label class="displayLabel">Acc</label>						<span class="displayData">...</span>
					<label class="displayLabel">AP</label>						<span class="displayData">...</span>
					<label class="displayLabel">Mode</label>					<span class="displayData">...</span>
					<label class="displayLabel">RC</label>						<span class="displayData">...</span>
					<label class="displayLabel">Ammo</label>					<span class="displayData">...</span></li>
				<li><label class="displayLabel">Primary Melee Weapn</label>		<span class="displayData">...</span></li>
				<li><label class="displayLabel">Reach</label>					<span class="displayData">...</span>
					<label class="displayLabel">Dam</label>						<span class="displayData">...</span>
					<label class="displayLabel">Acc</label>						<span class="displayData">...</span>
					<label class="displayLabel">AP</label>						<span class="displayData">...</span></li>
			</ol>
		</div>
		<div class="leftColumn">
			<div class="section">Attributes</div>
			<ol class="twoColumn">
				<li><span class="half"><label class="displayLabel">Body</label>
						<span class="displayData">...</span></span>
					<span class="half"><label class="displayLabel">Essence</label>
						<span class="displayData">...</span></span></li>
				<li><span class="half"><label class="displayLabel">Agility</label>
						<span class="displayData">...</span></span>
					<span class="half"><label class="displayLabel">Magic/Resonance</label>
						<span class="displayData">...</span></span></li>
				<li><span class="half"><label class="displayLabel">Reaction</label>
						<span class="displayData">...</span></span>
					<span class="half"><label class="displayLabel">Initiative</label>
						<span class="displayData">...</span></span></li>
				<li><span class="half"><label class="displayLabel">Strength</label>
						<span class="displayData">...</span></span>
					<span class="half"><label class="displayLabel">Matrix Initiative</label>
						<span class="displayData">...</span></span></li>
				<li><span class="half"><label class="displayLabel">Willpower</label>
						<span class="displayData">...</span></span>
					<span class="half"><label class="displayLabel">Astral Initiative</label>
						<span class="displayData">...</span></span></li>
				<li><span class="half"><label class="displayLabel">Logic</label>
						<span class="displayData">...</span></span>
					<span class="half"><label class="displayLabel">Composure</label>
						<span class="displayData">...</span></span></li>
				<li><span class="half"><label class="displayLabel">Intuition</label>
						<span class="displayData">...</span></span>
					<span class="half"><label class="displayLabel">Judge Intentions</label>
						<span class="displayData">...</span></span></li>
				<li><span class="half"><label class="displayLabel">Charisma</label>
						<span class="displayData">...</span></span>
					<span class="half"><label class="displayLabel">Memory</label>
						<span class="displayData">...</span></span></li>
				<li><span class="half"><label class="displayLabel">Edge</label>
						<span class="displayData">...</span></span>
					<span class="half"><label class="displayLabel">Lift/Carry</label>
						<span class="displayData">...</span></span></li>
				<li><span class="half"><label class="displayLabel">Edge Points</label>
						<span class="displayData">...</span></span>
					<span class="half"><label class="displayLabel">Movement</label>
						<span class="displayData">...</span></span></li>
				<li><span class="half"><label class="displayLabel">Physical Limit</label>
						<span class="displayData">...</span></span>
					<span class="half"><label class="displayLabel">Mental Limit</label>
						<span class="displayData">...</span></span>
					<span class="half"><label class="displayLabel">Social Limit</label>
						<span class="displayData">...</span></span></li>
			</ol>
		</div>
		<div class="rightColumn">
			<div class="section">Condition Monitor</div>
			<div class="twoColumn">
				<table border="1">
					<tr><th colspan="3">Physical Damage Track</th></tr>
					<tr><td><input type="checkbox"></td><td><input type="checkbox"></td><td><input type="checkbox">-1</td></tr>
					<tr><td><input type="checkbox"></td><td><input type="checkbox"></td><td><input type="checkbox">-2</td></tr>
					<tr><td><input type="checkbox"></td><td><input type="checkbox"></td><td><input type="checkbox">-3</td></tr>
					<tr><td><input type="checkbox"></td><td><input type="checkbox"></td><td><input type="checkbox">-4</td></tr>
					<tr><td><input type="checkbox"></td><td><input type="checkbox"></td><td><input type="checkbox">-5</td></tr>
					<tr><td><input type="checkbox"></td><td><input type="checkbox"></td><td><input type="checkbox">-6</td></tr>
				</table>
				<table border="1">
					<tr><th colspan="3">Stun Damage Track</th></tr>
					<tr><td><input type="checkbox"></td><td><input type="checkbox"></td><td><input type="checkbox">-1</td></tr>
					<tr><td><input type="checkbox"></td><td><input type="checkbox"></td><td><input type="checkbox">-2</td></tr>
					<tr><td><input type="checkbox"></td><td><input type="checkbox"></td><td><input type="checkbox">-3</td></tr>
					<tr><td><input type="checkbox"></td><td><input type="checkbox"></td><td><input type="checkbox">-4</td></tr>
				</table>
				<span>Overflow ____</span>
			</div>
		</div>
		<div class="leftColumn">
			<div class="section">Skills</div>
		</div>
	</div>
</body>
</html>